/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.ios-toggle,
.ios-toggle:active {
  position: absolute;
  top: -5000px;
  height: 0;
  width: 0;
  opacity: 0;
  border: none;
  outline: none;
  transition: 0.25s ease-in-out;
}

.checkbox-label {
  display: block;
  position: relative;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 16px;
  width: 100%;
  height: 16px;
  /*border-radius*/
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  background: #f8f8f8;
  cursor: pointer;
}

.checkbox-label:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  line-height: 34px;
  text-indent: 40px;
  height: 36px;
  width: 36px;
  /*border-radius*/
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  top: 0px;
  left: 0px;
  right: auto;
  background: white;
  /*box-shadow*/
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px #dddddd;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px #dddddd;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px #dddddd;
  transition: 0.25s ease-in-out;
}

.checkbox-label:after {
  content: attr(data-off);
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  left: -320px;
  padding: 10px;
  height: 100%;
  width: 300px;
  text-align: right;
  color: #bfbfbf;
  white-space: nowrap;
  transition: 0.25s ease-in-out;
}

.ios-toggle:checked + .checkbox-label {
  /*box-shadow*/
  -webkit-box-shadow: inset 0 0 0 20px #13bf11, 0 0 0 2px #13bf11;
  -moz-box-shadow: inset 0 0 0 20px #13bf11, 0 0 0 2px #13bf11;
  box-shadow: inset 0 0 0 20px #13bf11, 0 0 0 2px #13bf11;
}

.ios-toggle:checked + .checkbox-label:before {
  left: calc(100% - 36px);
  /*box-shadow*/
  -webkit-box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, 0.3);
  transition: 0.25s ease-in-out;
}

.ios-toggle:checked + .checkbox-label:after {
  content: attr(data-on);
  left: 80px;
  width: 36px;
  transition: 0.25s ease-in-out;
}

/* RED CHECKBOX */
#red + .checkbox-label {
  /*box-shadow*/
  -webkit-box-shadow: inset 0 0 0 0px #f35f42, 0 0 0 2px #dddddd;
  -moz-box-shadow: inset 0 0 0 0px #f35f42, 0 0 0 2px #dddddd;
  box-shadow: inset 0 0 0 0px #f35f42, 0 0 0 2px #dddddd;
}

#red:checked + .checkbox-label {
  /*box-shadow*/
  -webkit-box-shadow: inset 0 0 0 20px #f35f42, 0 0 0 2px #f35f42;
  -moz-box-shadow: inset 0 0 0 20px #f35f42, 0 0 0 2px #f35f42;
  box-shadow: inset 0 0 0 20px #f35f42, 0 0 0 2px #f35f42;
}

#red:checked + .checkbox-label:after {
  color: #f35f42;
  transition: 0.25s ease-in-out;
}

.select-css {
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 700;
  color: #333;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 50%;
  box-sizing: border-box;
  margin: auto;
  border: 1px solid #333;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #eeeeee;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
.select-css::-ms-expand {
  display: none;
}

html {
  background-color: #ffffff;
  color: #333;
  min-height: 100%;
  font-family: Helvetica Neue, helvetica, arial, verdana, sans-serif;
}
html header {
  border-bottom: 2px solid #333;
}
html.dark {
  background-color: #3d4457;
  color: #ffffff;
}
html.dark header {
  border-bottom: 2px solid #ffffff;
}
html.dark .select-css {
  color: #ffffff;
  border: 1px solid #eeeeee;
  background-color: #3d4457;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  padding: 0 0 15px 0;
}
body .container .row .toggle-list {
  width: 60px;
  margin: 50px auto;
  text-align: center;
  padding-right: 36px;
}
body header {
  height: 70px;
  margin-bottom: 10px;
  padding-top: 10px;
}
body header .navbar .nav {
  overflow-x: hidden;
}
body header .navbar .nav li {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  width: 20%;
  height: 58px;
  transition: 0.3s ease-in-out;
  line-height: 58px;
}
body header .navbar .nav li:first-child {
  width: 80%;
  text-align: left;
}
body header .navbar .nav li:first-child a,
body header .navbar .nav li:first-child span {
  background: initial;
  margin-left: 50%;
}
body header .navbar .nav li:first-child a span,
body header .navbar .nav li:first-child span span {
  margin-left: -50%;
}
body header .navbar .nav li:last-child a,
body header .navbar .nav li:last-child span {
  background: url("/erldoc/settings.15f40d4b.svg") no-repeat;
  width: 58px;
  height: 58px;
  text-indent: 100vw;
}
body header .navbar .nav li a,
body header .navbar .nav li span {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  text-align: center;
  font-size: 30px;
}
body header .navbar.collapse .nav li {
  width: 80%;
}
body header .navbar.collapse .nav li:first-child {
  width: 20%;
  text-align: center;
}
body header .navbar.collapse .nav li:first-child a,
body header .navbar.collapse .nav li:first-child span {
  margin-left: initial;
  background: url("/erldoc/documents.11e58171.svg") no-repeat;
  width: 58px;
  height: 58px;
  text-indent: -100vw;
}
body header .navbar.collapse .nav li:last-child {
  text-align: left;
}
body header .navbar.collapse .nav li:last-child a,
body header .navbar.collapse .nav li:last-child span {
  background: initial;
  text-indent: initial;
  margin-left: 24%;
}
body header .navbar.collapse .nav li:last-child a span,
body header .navbar.collapse .nav li:last-child span span {
  margin-left: -50%;
}
body header .navbar.inner .nav li {
  font-size: 16px;
  text-align: center;
}
body header .navbar.inner .nav li a,
body header .navbar.inner .nav li span {
  background: initial;
  text-indent: initial;
}
body header .navbar.inner .nav li:first-child {
  width: 20%;
}
body header .navbar.inner .nav li:first-child a,
body header .navbar.inner .nav li:first-child span {
  margin: 0;
}
body header .navbar.inner .nav li:first-child a span,
body header .navbar.inner .nav li:first-child span span {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  color: #f35f42;
}
body header .navbar.inner .nav li:first-child a span:first-child,
body header .navbar.inner .nav li:first-child span span:first-child {
  font-weight: 300;
  font-size: 40px;
  padding: 0px 5px;
  vertical-align: top;
}
body header .navbar.inner .nav li:last-child {
  width: 80%;
}
body header .navbar.inner .nav li:last-child span {
  font-size: 20px;
  font-weight: bold;
  margin-left: -24%;
}
body .page404 {
  width: 100%;
}
body .page404 .row {
  display: block;
  position: relative;
}
body .page404 .row .title {
  text-align: center;
  font-size: 60px;
  padding: 30px 10px 0;
}
body .page404 .row .image404 {
  margin-top: -35px;
  width: 100%;
  height: 600px;
  background-size: cover;
  display: block;
  background: url("/erldoc/otter_light.99bec48a.png") 50% 50% no-repeat;
}
body .page404 .row .back {
  text-decoration: none;
  color: inherit;
  text-align: center;
  width: 100%;
  display: inline-block;
  font-size: 20px;
}
body .home ul {
  font-size: 20px;
  line-height: 31px;
  margin-left: 8px;
  font-weight: bold;
}
body .home ul li a {
  text-overflow: ellipsis;
  max-width: 95%;
  width: 95%;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
body footer {
  width: 100vw;
  position: relative;
  bottom: 0;
  text-align: center;
  padding: 30px;
  box-sizing: border-box;
}
body footer nav {
  display: block;
}
body footer nav ul {
  display: block;
}
body footer nav ul li {
  display: inline-block;
  width: 50%;
  height: 40px;
  line-height: 30px;
}
body footer nav ul li a {
  text-decoration: none;
  color: inherit;
}
body footer small {
  width: 100%;
  text-align: center;
}
body .loader {
  margin-top: 50%;
}
body .loader::before {
  content: "";
  display: block;
  background: url("/erldoc/spinner.8b7d0f4a.png") center center no-repeat;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 200px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(-360deg);
  }
}

/*# sourceMappingURL=/erldoc/main.2a7efca8.css.map */