@import "reset";
@import "vars";
@import "switch";
@import "select";

html {
  background-color: $white;
  color: $black;
  min-height: 100%;
  font-family: Helvetica Neue, helvetica, arial, verdana, sans-serif;

  header {
    border-bottom: 2px solid $black;
  }

  &.dark {
    background-color: $bgDark;
    color: $white;
    header {
      border-bottom: 2px solid $white;
    }

    .select-css {
      color: $white;
      border: 1px solid $bgLight;
      background-color: $bgDark;
    }
  }
}

body {
  max-width: 100%;
  overflow-x: hidden;
  padding: 0 0 15px 0;
  .container {
    .row {
      .toggle-list {
        width: 60px;
        margin: 50px auto;
        text-align: center;
        padding-right: 36px;
      }
    }
  }

  header {
    height: 70px;
    margin-bottom: 10px;
    // background: grey;
    padding-top: 10px;
    .navbar {
      .nav {
        overflow-x: hidden;
        li {
          // border: 1px solid black;
          box-sizing: border-box;
          display: inline-block;
          text-align: center;
          width: 20%;
          height: 58px;
          transition: 0.3s ease-in-out;
          line-height: 58px;
          &:first-child {
            width: 80%;
            text-align: left;

            a,
            span {
              background: initial;
              margin-left: 50%;
              span {
                margin-left: -50%;
              }
            }
          }
          &:last-child {
            // width: 80%;
            a,
            span {
              background: url("../images/settings.svg") no-repeat;
              width: 58px;
              height: 58px;
              text-indent: 100vw;
            }
          }

          a,
          span {
            text-decoration: none;
            color: inherit;
            display: inline-block;
            text-align: center;
            font-size: 30px;
          }
        }
      }
      &.collapse {
        .nav {
          li {
            width: 80%;
            &:first-child {
              width: 20%;
              text-align: center;
              a,
              span {
                margin-left: initial;
                background: url("../images/documents.svg") no-repeat;
                width: 58px;
                height: 58px;
                text-indent: -100vw;
              }
            }

            &:last-child {
              text-align: left;
              a,
              span {
                background: initial;
                text-indent: initial;
                margin-left: 24%;
                span {
                  margin-left: -50%;
                }
              }
            }
          }
        }
      }

      &.inner {
        .nav {
          li {
            a,
            span {
              background: initial;
              text-indent: initial;
            }
            font-size: 16px;
            text-align: center;

            &:first-child {
              width: 20%;
              max-width: 20%;
              float: left;
              a,
              span {
                margin: 0;
                span {
                  font-size: 18px;
                  font-weight: normal;
                  margin: 0;
                  color: $red;
                  vertical-align: top;
                  &:first-child {
                    line-height: 50px;
                    font-weight: 300;
                    font-size: 40px;
                    padding: 0px 5px;
                    vertical-align: top;
                  }
                }
              }
            }
            &:last-child {
              width: 80%;
              padding: 0 20px;
              span {
                font-size: 18px;
                font-weight: bold;
                margin-left: -24%;
                text-overflow: ellipsis;
                overflow: hidden;
                width: 80%;
              }
            }
          }
        }
      }
    }
  }

  .page404 {
    width: 100%;
    .row {
      display: block;
      position: relative;
      .title {
        text-align: center;
        font-size: 60px;
        padding: 30px 10px 0;
      }
      .image404 {
        margin-top: -35px;
        width: 100%;
        height: 600px;
        background-size: cover;
        display: block;
        background: url("../images/otter_light.png") 50% 50% no-repeat;
      }
      .back {
        text-decoration: none;
        color: inherit;
        text-align: center;
        width: 100%;
        display: inline-block;
        font-size: 18px;
      }
    }
  }

  .document {
    padding: 0 8px;
    font-size: 16px;

    h1 {
      font-weight: bold;
      font-size: 18px;
      text-align: center;
      line-height: 2;
    }

    .description {
      p {
        line-height: 1.5;
        margin-bottom: 16px;

        span {
          &.bold_code {
            font-weight: bold;
          }

          &.bc-19,
          &.bc-18,
          &.bc-13 {
            color: $red;
            a {
              text-decoration: none;
              color: inherit;
            }
          }
        }
      }
    }
  }

  .home {
    ul {
      font-size: 18px;
      line-height: 31px;
      margin-left: 8px;
      font-weight: bold;
      li {
        a {
          text-overflow: ellipsis;
          max-width: 95%;
          width: 95%;
          overflow: hidden;
          display: inline-block;
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }

  footer {
    width: 100vw;
    position: relative;
    bottom: 0;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
    nav {
      display: block;
      ul {
        display: block;
        li {
          display: inline-block;
          width: 50%;
          height: 40px;
          line-height: 30px;
          a {
            text-decoration: none;
            color: inherit;
          }
        }
      }
    }

    small {
      width: 100%;
      text-align: center;
    }
  }

  .loader {
    margin-top: 50%;
    &::before {
      content: "";
      display: block;
      background: url("../images/spinner.png") center center no-repeat;
      background-size: contain;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      height: 200px;
      animation: spin 2s linear infinite;
      // margin-top: -50%;
    }
  }
}

@keyframes spin {
  100% {
    transform: rotate(-360deg);
  }
}
